/* Press CTRL + / to add a comment! */
/* targets a specific header */
body > header {
    position: sticky;
    top: 0;
    width: 100rem;
    background-color: var(--pico-background-color);
    box-shadow: 0 0 1 var(--pico-background-color);
}

section#hero {
    min-height:35rem;
    background-color: var(--pico-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

section#hero h1{
    font-size: 10rem;
    text-align: center;
} 

section#likes div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section#likes article{
    flex: 1;
    border: solid;
    border-color: var(--pico-primary);
    border-width: 7px;
    border-radius: 25px;
}

section#likes header{
    border-radius: 25px;
}

section#likes footer{
    border-radius: 25px;
}

/* DEMOS ====================================== */

section.demo div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--pico-primary);
    border-radius: 1rem;
    height: 17rem;
}

section.demo div P{
    font-size: 5rem;
    padding: 1rem;
    background-color:  var(--pico-background-color);
    color: var(--pico-primary);
    border-radius: 0.5rem;
    line-height: 1;
    width: 1.2em;
    margin: 0;
    text-align: center;
}

section#task2 div{
    justify-content: center;
}

section#task3 div{
    justify-content: space-around;
}

section#task4 div{
    justify-content: flex-end;
}

section#task5 div{
    align-items: flex-start;
}

section#task6 div{
    align-items: flex-end;
}

section#task7 div{
    align-items: center;
}

section#task8 div{
    align-items: center;
    justify-content: center;
}

section#task9 div{
    flex-wrap: wrap;
}