/* Press CTRL + / to add a comment! */
/* targets a specific header */
body > header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color);
    box-shadow: 0 0 1 var(--pico-background-color);
}

section#hero {
    min-height:35rem;
    background-color: var(--pico-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    margin-bottom: 5rem;
}

section#hero h1{
    font-size: 10rem;
} 

section#likes div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section#likes article{
    flex: 1;
    border: solid;
    border-color: var(--pico-primary);
    border-width: 7px;
    border-radius: 25px;
}

/* DEMOS ====================================== */

section.demo div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: aqua;
}

section.demo div P{
    font-size: 5rem;
    padding: 1rem;
    background-color:  rebeccapurple;
}